<div class="show">
<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
<% end %>

<p><strong>Title:</strong> <%= @book.title %></p>
<p><strong>Body:</strong> <%= @book.body %></p>
</div>

<div class="link">
<span class="edit">
    <%= link_to "Edit", edit_book_path(@book.id) %>
  </span>
  
<span="edit">
    <%= link_to "Back", "/books" %>
  </span>
 </div>